/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/******************************************
# COLOR PALETTE
*******************************************

Primary: #008ecc (1)
Secondary: #005980 (2)
Key: #fc7019 (3)
Light: #eff1f2 (4)
Grey: #a5aeb2 (5)
White: #fafafb

******************************************/

/******************************************

# UNIVERSAL

******************************************/

/******************************************
# GENERIC
******************************************/

html,
body,
* {
	margin: 0;
}
html,
body {
	width: 100%;
	height: 100%;
}
html {
	color: #404040;
	font-size: 16px;
	font-family: 'Roboto', Arial, sans-serif;
	cursor: default;
	scroll-behavior: smooth;
	background-color: #fafafb;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}
a:hover {
	cursor: pointer;
}
h1,
h2,
h4 {
	margin-bottom: 1.5rem;
}
p,
main ul {
	font-size: 1rem;
	line-height: 1.7;
	margin-bottom: 1.5rem;
	color: #005980;
}
p a:hover {
	text-decoration: none;
}
h4 {
	line-height: 1.7;
}

/******************************************
# PROPERTIES
******************************************/

.ai-c {
	align-items: center;
}
.bd {
	border: 2px solid #fafafb;
}
.bd-1 {
	border-color: #008ecc;
}
.bd-2 {
	border-color: #005980 !important;
}
.bd-3 {
	border-color: #fc7019;	
}
.bd-no {
	border: 0;
}
.bd-wh {
	border-color: #fafafb;
}
.bg-1 {
	background-color: #008ecc;
}
.bg-2 {
	background-color: #005980;
}
.bg-3 {
	background-color: #fc7019;
}
.bg-4 {
	background-color: #eff1f2;
}
.bg-wh {
	background-color: #fafafb;
}
.ds-bl {
	display: block;
}
.ds-fl {
	display: flex;
}
.ds-gr {
	display: grid;
}
.ds-no {
	display: none;
}
.fc-1 {
	color: #008ecc;
}
.fc-2 {
	color: #005980;
}
.fc-3 {
	color: #fc7019;
}
.fc-wh {
	color: #fafafb;
}
.fd-col {
	flex-direction: column;
}
.fs-xs {
	font-size: 0.85rem;
}
.fs-sm {
	font-size: 1rem;
}
.fs-md {
	font-size: 1.25rem;
}
.fs-lg {
	font-size: 1.75rem;
}
.fw-3 {
	font-weight: 300;
}
.fw-4 {
	font-weight: 400;
}
.fw-5 {
	font-weight: 500;
}
.fw-7 {
	font-weight: 700;
}
.h-100 {
	height: 100%;
}
.jc-c {
	justify-content: center;
}
.jc-fe {
	justify-content: flex-end;
}
.jc-sb {
	justify-content: space-between;
}
.ls-n1 {
	letter-spacing: -1px;
}
.mg-at {
	margin-left: auto;
	margin-right: auto;
}
.mg-b0 {
	margin-bottom: 0;
}
.mg-b1 {
	margin-bottom: 1rem;
}
.mg-b15 {
	margin-bottom: 1.5rem;
}
.mg-b2 {
	margin-bottom: 2rem;
}
.mg-l1 {
	margin-left: 1rem;
}
.mg-l2 {
	margin-left: 2rem;
}
.mg-r1 {
	margin-right: 1rem;
}
.mg-t1 {
	margin-top: 1rem;
}
.pd-1 {
	padding: 1rem;
}
.pd-2 {
	padding: 2rem;
}
.pd-b2 {
	padding-bottom: 2rem;
}
.pd-l1 {
	padding-left: 1rem;
}
.pd-t2 {
	padding-top: 2rem;
}
.pd-tb05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.pd-tb1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.pd-tb2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.ps-ab {
	position: absolute;
}
.ps-fi {
	position: fixed;
}
.ps-re {
	position: relative;
}
.right {
	right: 0;
}
.ta-c {
	text-align: center;
}
.td-no {
	text-decoration: none;
}
.tr-1 {
	transition: 1s;
}
.w-100 {
	width: 100%;
}
.wc {
	width: calc(100vw - 2rem);
}



/******************************************

# MODULES

******************************************/

/******************************************
# ACCORDION
******************************************/

.panel {
	display: none;
	overflow: hidden;
}
.accordion {
	cursor: pointer;
}
.accordion:after,
.accordionActive:after,
.newsAccordion:after {
	content: '\f067';
	font-size: 0.75rem;
	font-family: fontawesome;
	font-weight: 900;
}
.accordionActive:after {
	content: '\f068';
}
.newsAccordion:after {
	margin-left: 0.5rem;
}
.newsActive,
.newsActive:hover {
	background-color: #a5aeb2 !important;
	border-color: #a5aeb2 !important;
}
.newsPanel {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/******************************************
# SEARCH BOX
******************************************/

#livesearch {
    width: 563px;
    background-color: white !important;
    line-height: 20px;
    font-size: 17px;
    position: absolute;
    margin-top: 56px;
    max-height: 500px;
    overflow: auto;
}
#livesearch .no_result{
    padding: 10px;
}
#livesearch li.result_item_block {
    list-style: outside none none;
    text-align: left;
}
#livesearch li .result_text:hover {
    background-color: #eff1f2;
}
#livesearch li {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 29px;
    width: 100%;
}
#livesearch li a {
    border: none;
    text-decoration: none;
}
#livesearch li .result_text{
    border-bottom: 0.5px dashed #005980;
    background-color: #ffffff;
    color: #005980;
    font-size: 14px !important;
    line-height: 1.2em;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px;
    float: left;
}
#livesearch li .result_text .livesearch_product_image{
    float: left;
    width: 10%;
}
#livesearch li .result_text .livesearch_product_image img{
    max-width: 100%;
    max-height: 75px;
    margin: auto;
    display: block;
}
#livesearch li .result_text .livesearch_product_text{
    float: left;
    width: 90%;
    padding: 0 10px;
}

/******************************************
# BANNER
******************************************/

.banner {
	height: 185px;
}
.banner-header {
	font-size: 1.15rem;
}

/******************************************
# BUTTON
******************************************/

.btn {
	padding: 13px 0.5rem 12px;
	font-weight: 700;
	font-size: 0.85rem;
	transition: all 0.3s;
	text-align: center;
	border-width: 2px;
	border-style: solid;
}
.btn-mg {
	margin-right: 0.25rem;
}
.btn.bg-3:hover {
	background-color: #F35B0D;
	border-color: #F35B0D;
}
.btn.bd-wh:hover {
	background-color: #fc7019;
	border-color: #fc7019;
}
main .btn,
footer .btn {
	display: inline-block;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

/******************************************
# CLICK ITEM
******************************************/

.click-icon i {
	font-size: 1.5rem;
	border-radius: 100px;
	border: 2px solid #fafafb;
	z-index: 1;
}
.click-header {
	border-top: 4px solid #fc7019;
}

/******************************************
# CONTAINER
******************************************/

.container-1,
.container-2,
.container-3 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.page-margin-1 {
	margin-top: 1rem;
}
.page-margin-1,
.page-margin-2 {
	margin-bottom: 2rem;
}

/******************************************
# ICON
******************************************/

.ic-l {
	padding-right: 0.25rem;
}
.ic-p {
	margin-bottom: 0.5rem;
}
.ic-p:last-of-type {
	margin-bottom: 0;
}
.ic-p i {
	flex: 0 0 25px;
}
.ic-r {
	padding-left: 0.25rem;
}
.icon-list {
	list-style-type: none;
	padding-left: 1rem;
}

/******************************************
# TABS
******************************************/

.tab {
	border-bottom: 3px solid #eff1f2;
}
.tab button {
  border: none;
  outline: none;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.tab button.tabActive {
	background-color: #008ecc;
	display: flex;
}
.tab button.tabActive:after {
	content: '\f107';
	font-family: fontawesome;
	font-weight: 900;
}

/******************************************
# ROLLOVER
******************************************/

img.rollover-image {
	width: 100%;
}

/******************************************
# VIDEO
******************************************/

.responsive-video {
	overflow: hidden;
	padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

/******************************************

# BLOCKS

******************************************/

/******************************************
# CONSTANT CONTACT
******************************************/

.ctct-inline-form {
	width: 100%;
	max-width: 100%;
}
div.ctct-form-embed div.ctct-form-defaults {
	padding: 0 !important;
	font-family: 'Roboto', Arial, sans-serif !important;
}
div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
	border-radius: 0 !important;
}
div.ctct-form-embed form.ctct-form-custom .ctct-form-required:before {
	display: none;
}
div.ctct-form-embed form.ctct-form-custom .ctct-form-required:after {
	content: '\2217';
	color: #f5463b;
	margin-left: 0.25rem;
	position: absolute;
	top: -4px;
}

/******************************************
# FOOTER
******************************************/

.footer-contact i {
	margin-bottom: 0.5rem;
}
.footer-col-2 a:hover,
.footer-extra a:hover span {
	text-decoration: underline;
}
.footer-branding a {
	width: 35%;
	max-width: 100px;
}
.footer-col-1 {
	border-bottom: 3px solid rgba(250,250,251,0.3);
}
.footer-list {
	list-style-type: none;
	padding-left: 0;
}
.footer-signup .newsAccordion {
	width: fit-content;
}
.footer-signup p {
	max-width: 600px;
}
.copyright {
	padding-bottom: 5rem;
}
.footer-bar {
	bottom: 0;
	box-shadow: 0 0 5px 1px #005980;
	z-index: 9999;
}
.footer-bar__inner {
	max-width: 60%;
}



/******************************************

# RESPONSIVE

******************************************/

@media screen and (max-width: 374px) {
	/******************************************
	# PROPERTIES
	******************************************/
	.fs-lg {
		font-size: 1.65rem;
	}
    
    #livesearch {
        width: 91.5%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 320px) {
	/******************************************
	# BANNER
	******************************************/
	.banner-header {
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 375px) {
	/******************************************
	# BANNER
	******************************************/
	.banner {
		height: 250px;
	}
    
    #livesearch {
        width: 93.5%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 480px) {
	/******************************************
	# ICON
	******************************************/
	.ic-p i,
	.ic-p span {
		font-size: 1rem;
	}
	.ic-p i {
		flex: 0 0 35px;
	}
	.ic-p a:hover {
		text-decoration: underline;
	}
    
    #livesearch {
        width: 93.5%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
	.banner-header {
		font-size: 1.75rem;
	}
}

@media screen and (min-width: 768px) {
	/******************************************
	# GENERIC
	******************************************/
	h1.ls-n1,
	h2.ls-n1 {
		letter-spacing: -2px;
	}
	/******************************************
	# PROPERTIES
	******************************************/
	.fs-lg {
		font-size: 2.55rem;
	}
	.wc {
		width: calc(100vw - 4rem);
		max-width: 1280px;
	}
    
    /******************************************
	# SEARCH BOX
	******************************************/
    #livesearch {
        width: 454px;
        margin-top: 56px;
    }
    
	/******************************************
	# BANNER
	******************************************/
	.banner-inner {
		padding-left: 0;
	}
	.banner-header {
		font-size: 2.55rem;
		letter-spacing: -2px;
	}
	/******************************************
	# BUTTON
	******************************************/
	.btn {
		padding-top: 19px;
		padding-bottom: 16px;
	}
	main .btn,
	footer .btn {
		font-size: 1rem;
	}
	/******************************************
	# CONTAINER
	******************************************/
	.container-1,
	.container-2,
	.container-3 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.page-margin-1 {
		margin-top: 1rem;
	}
	.page-margin-1,
	.page-margin-2 {
		margin-bottom: 3rem;
	}
	/******************************************
	# ICON
	******************************************/
	.ic-p i,
	.ic-p span {
		font-size: 1.15rem;
	}
	/******************************************
	# TABS
	******************************************/
	.tab-box {
		display: flex;
	}
	.tab {
		flex: 0 0 35%;
		border-right: 3px solid #eff1f2;
		border-bottom: 0;
	}
	.tab,
	.tabcontent {
		min-height: 300px;
	}
	.tab .btn {
		font-size: 0.85rem;
	}
	.tab button.tabActive:after {
		content: '\f105';
		font-family: fontawesome;
		font-weight: 900;
	}
	/******************************************
	# FOOTER
	******************************************/
	.footer-inner {
		display: flex;
		padding-bottom: 0;
		padding-top: 0;
	}
	.footer-branding a {
		width: 50%;
	}
	.footer-col-1 {
		flex: 0 0 32%;
		border-right: 3px solid rgba(250,250,251,0.3);
		border-bottom: 0;
		padding-right: 2rem;
	}
	.footer-col-2 {
		flex: 0 0 68%;
		text-align: left;
		margin-left: 2rem;
	}
	.footer-row-1,
	.footer-row-2,
	.footer-row-3 {
		display: flex;
	}
	.footer-row-1 > div,
	.footer-row-2 > div,
	.footer-row-3 > div {
		flex: 0 0 300px;
	}
	.footer-row-1 > div,
	.footer-row-2 > div {
		margin-bottom: 2rem;
	}
	.footer-row-3 > div {
		margin-bottom: 0;
	}
	.footer-col-1,
	.footer-col-2 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.footer-extra-inner,
	.footer-extra-left {
		display: flex;
	}
	.footer-extra a,
	.footer-extra-right {
		flex-direction: row;
	}
	.footer-extra a,
	.footer-extra i,
	.footer-extra span,
	.copyright-social {
		margin-bottom: 0;
	}
	.footer-extra i,
	.footer-extra span {
		margin-right: 0.5rem;
	}
	.footer-extra,
	.footer-extra i  {
		font-size: 0.85rem;		
	}
	.footer-extra-left a:first-of-type {
		margin-right: 1rem;
	}
	.footer-extra-right i:last-of-type {
		margin-right: 0;
	}
	.copyright-inner {
		display: flex;
	}
}

@media screen and (min-width: 769px) {
	/******************************************
	# PROPERTIES
	******************************************/
	.fs-lg {
		font-size: 2.75rem;
	}
}

@media screen and (min-width: 769px) {
	/******************************************
	# BANNER
	******************************************/
	.banner-header {
		font-size: 2.75rem;
	}
	/******************************************
	# TABS
	******************************************/
	.tab button {
		cursor: pointer;
		transition: 0.3s;
	}
	.tab button:hover {
		background-color: rgba(0, 142, 204, 0.3);
	}
	.tab button.tabActive:hover {
		background-color: #008ecc;
	}
	/******************************************
	# ROLLOVER
	******************************************/
	.rollover-item {
		display: block;
		position: relative;
		width: 100%;
		z-index: 0;
	}
	.rollover-image {
		opacity: 1;
		height: auto;
		transition: 0.5s ease;
		backface-visibility: hidden;
	}
	.rollover-overlay {
		transition: 0.5s ease;
		opacity: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		margin-top: 0;
	}
	.rollover-item:hover .rollover-overlay {
		opacity: 1;
	}
	.rollover-overlay ul {
		list-style-type: none;
		padding-left: 0;
	}
}
@media screen and (min-width: 960px) {
	/******************************************
	# GENERIC
	******************************************/
	h1.ls-n1,
	h2.ls-n1 {
		letter-spacing: -3px;
	}
	/******************************************
	# PROPERTIES
	******************************************/
	.ds-mo {
		display: none;
	}
    /******************************************
	# SEARCH BOX
	******************************************/
    #livesearch {
        width: 562px;
        margin-top: 56px;
    }
	/******************************************
	# ACCORDION
	******************************************/
	.accordion:after {
	  content: '\f067';
	}
	.accordion:after,
	.accordionActive:after {
	  content: '\f067';
	  font-size: 0.75rem;
	  font-family: fontawesome;
	  font-weight: 900;
	  margin-left: 0.25rem;
	}
	.accordionActive:after {
	  content: '\f068';
	}
	/******************************************
	# BUTTON
	******************************************/
	.btn {
		padding: 19px 1.5rem 16px;
	}
	/******************************************
	# ICON
	******************************************/
	.ic-p i {
		flex: 0 0 40px;
	}
	.ic-p {
		margin-bottom: 1rem;
	}
	/******************************************
	# SIDE GALLERY
	******************************************/
	.side-gallery {
		margin-bottom: 0;
		height: 100%;
		flex: 0 0 250px;
		display: flex;
		flex-direction: column;
		display: grid;
		grid-gap: 0;
	}
	.side-gallery .ds-no {
		display: block;
	}
	.side-image:first-of-type {
		display: flex;
		margin-bottom: 1rem;
	}
	.side-image img {
		object-fit: cover;
		display: flex;
	}
	/******************************************
	# TABS
	******************************************/
	.tab {
		flex: 0 0 25%;
	}
	/******************************************
	# CONSTANT CONTACT
	******************************************/
	.ctct-inline-form {
		max-width: 550px;
	}	
	/******************************************
	# FOOTER
	******************************************/
	.footer-bar {
		display: none;
	}
	.copyright {
		padding-bottom: 2rem;
	}
}
@media screen and (min-width: 1024px) {
	/******************************************
	# BANNER
	******************************************/
	.banner {
		height: 350px;
	}
    /******************************************
	# SEARCH BOX
	******************************************/
    #livesearch {
        width: 488px;
    }
	/******************************************
	# CONTAINER
	******************************************/
	.container-1 {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.container-3 {
		padding-bottom: 4rem;
	}
	.page-margin-1 {
		margin-top: 2rem;
	}
	.page-margin-1,
	.page-margin-2 {
		margin-bottom: 4rem;
	}
	/******************************************
	# ICON
	******************************************/
	.ic-p i,
	.ic-p span {
		font-size: 1.25rem;
	}
	/******************************************
	# TABS
	******************************************/
	.tabcontent {
		padding: 2rem;
		max-width: 960px;
	}
	.tab .btn {
		font-size: 1rem;
	}
	/******************************************
	# FOOTER
	******************************************/
	.footer-inner {
		padding-bottom: 0;
	}
	.footer-col-1 {
		flex: 0 0 25%;
	}
}
/******************************************
# IPAD PRO PORTRAIT
******************************************/
@media only screen
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.copyright {
		padding-bottom: 7rem;
	}
}
@media screen and (min-width: 1100px) {
	/******************************************
	# GENERIC
	******************************************/
	h4,
	p,
	main ul {
		font-size: 1.15rem;
	}
	/******************************************
	# PROPERTIES
	******************************************/
	.fs-md {
		font-size: 1.65rem;
	}
    #livesearch {
        width: 562px;
    }
}
@media screen and (min-width: 1200px) {
	/******************************************
	# PROPERTIES
	******************************************/
	.fs-lg {
		font-size: 3.4rem;
	}
	/******************************************
	# BANNER
	******************************************/
	.banner-header {
		font-size: 3.5rem;
	}
	/******************************************
	# CONTAINER
	******************************************/
	.container-1 {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	.page-margin-1 {
		margin-top: 3rem;
	}
	.page-margin-1,
	.page-margin-2 {
		margin-bottom: 8rem;
	}
	/******************************************
	# FOOTER
	******************************************/
	.footer-inner {
		justify-content: space-between;
		align-items: center;
	}
	.footer-col-1 {
		flex: 0 0 250px;
	}
	.footer-col-2 {
		flex: 0 0 575px;
		margin-left: 0;
	}
	.footer-row-1 > div,
	.footer-row-2 > div,
	.footer-row-3 > div {
		flex: 0 0 50%;
	}
	.footer-col-3 {
		display: block;
		flex: 0 0 27%;
	}
	.footer-col-3 .btn {
		width: fit-content;
	}
	.footer-signup {
		display: none;
	}
    #livesearch {
        /* width: 562px; */
        width: 594px;
    }
}

.price_livesearch{
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 5px;
}

.price_livesearch p{
    font-size: 18px;
    color: red;
    font-weight: bold;
    display: inline-block;
    padding-right: 20px;
    letter-spacing: 2px;
}

.price_livesearch a {
    display: inline-block;
    color: white;
}

.bigbutton_livesearch{
    background-color: #fd0916;
    background-position: top;
    background-repeat: repeat-x;
    -moz-appearance: none;
    border-radius: 3px;
    padding: 0.25rem 1.5rem;
    display: inline-block;
    color: white;
    font-weight: 600;
    line-height: 2rem;
    cursor: pointer;
    font-family: "Raleway",sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
    transition: 0.2s;
    margin-right: 10px;
    border: 1px solid rgba(0,0,0,0);
}

.bigbutton_livesearch:hover{
    background-color: white;
    color: #fd0916;
    border-color: #fd0916;
}